{% extends "::base.html.twig" %}

{% block title "Hello " %}

{% block body %}
    <h1 class="title">Hello!</h1>
<div>
    <a href="{{path('logout')}}">Logout</a>
</div>
    
{% endblock %}

{% set code = code(_self) %}
